@charset "UTF-8";

/*
   Tudo em HTML que é id, em CSS é #    (só pode um elemento)
   Tudo em HTML que é class, em CSS é . (pode em vários elementos)

*/

body {
    background-color: lightcyan;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(1, 67, 67);
}

h1#principal {
    text-align: center;
    background-color: rgb(1, 67, 67);
    color: white;
}

h2 {
    color: rgba(1, 67, 67, 0.727);
}

.basico {
    color: rgba(1, 67, 67, 0.727);
    font-weight: bold;
}

.intermediario {
    color: rgba(67, 60, 1, 0.727);
}

.avancado {
    color: rgba(67, 1, 1, 0.816);
}

.destaque {
    background-color: #cccc6174;
}